<ion-view ng-controller="CardsController">
	<ion-nav-buttons side="right">
		<button class="button icon ion-gear-a button-clear"></button>
	</ion-nav-buttons>
	<ion-pane class="background-grey">
		<div ng-if="cards.active">
			<td-cards>
				<td-card ng-repeat="card in cards.active" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)">
					<div class="image">
						<div class="no-text"><i class="icon ion-thumbsdown"></i></div>
						<div class="yes-text"><i class="icon ion-thumbsup"></i></div>
						<div class="discard" ng-click="onClickTransitionOut(card)">{{card.name}}</div>
						<img ng-src="{{ card.poster }}" class="td-image">
					</div>
				</td-card>
				<td-card id="end-card" drag="false">
					<i class="icon ion-ios-refresh disable-user-behavior" ng-click="initialize()" ng-if="showRefresh"></i>
				</td-card>
			</td-cards>
		</div>
		<ion-content class="center" style="height: 15%">
			<table>
				<tr class="swipeArrows">
					<td class="arrowTD"><i class="subdued icon ion-ios-undo"></i></td>
					<td class="emtpyTD"></td>
					<td class="arrowTD"><i class="subdued icon ion-ios-redo"></i></td>
				<tr>
				<tr>
					<td class="arrowTD">Swipe Left To Ignore</td>
					<td class="emtpyTD"></td>
					<td class="arrowTD">Swipe Right To Choose</i></td>
				<tr>
			</table>
		</ion-content>
	</ion-pane>
</ion-view>