<ion-view view-title ng-controller="DashBoardController">
	<ion-content>
	    <div class="list card animated fadeInLeftBig" ng-repeat="option in options track by $index" ng-click="switch($index)">
		  <div class="item item-body">
		    <img class="full-image" ng-src="{{option.poster}}" ng-if="flag[$index]">
		    <div>
		    	<p ng-if="!flag[$index]"  class="animated lightSpeedIn">
		    		{{option.details}}
		    	</p>
		    </div>
		    <p>
		    <a class="assertive-900" style="font-size: 2em" ng-click = "voteForOption(option._id)">
            	<i class="subdued icon ion-heart"></i>
          	</a>
		    <a href="#" class="subdued" style="margin-left: 15px">{{option.numOfVotes}} Like</a>
		    <a href="#" class="subdued">5 Comments</a>
		    </p>
		  </div>
		</div>
	</ion-content>
</ion-view>