<ion-view ng-controller="DashBoardController">
  <ion-pane class="background-grey">
    
     <div>
           <button type="button" class="btn btn-outline-danger" style="margin-top: 50px;" ng-click = "eleminateOptions()">elemenate option</button>  
              <button type="button" class="btn btn-outline-danger" ng-click = "getChosenOption()">chosenOption</button>

        <!-- <button type = "button" ng-click = "showAlert()">Add Popup Alert</button> 
        <li ng-repeat="data in dash.subC"> -->
          <div ng-repeat = " data in dash.subC">
            <h5 style="text-align: center;"> {{data.name}}</h5>
            <img src="{{data.poster}}" alt="subCat poster" height="128" width="180" style="margin-left:40%;">
           <div class="button" ng-click = "voteForOption(dash.option[$index])">
                <p>{{dash.voting[$index]}}</p>
            </div>
 
            <p style="text-align: center;">{{data.details}} </p>
          </div>
        </li>        
    </div>
    
  </ion-pane>
</ion-view>