<ion-view ng-controller="DashBoardController">
  <ion-pane class="background-grey">
    
    <div>
      <button danger clear style="margin-top: 50px;" ng-click = "eleminateOptions()">elemenate option</button>  
      <button type="button" class="btn btn-outline-danger" ng-click = "getChosenOption()">chosenOption</button>

      <div ng-repeat = " data in dash.subC">
         
        <h5 style="text-align: center;"> {{data.name}}</h5>
        <img ng-click="showAlert(data.name, data.details)" src="{{data.poster}}" alt="subCat poster" height="128" width="180" style="margin-left:40%;">
       <img src ="https://1.bp.blogspot.com/-d3LozscUMBY/Vtz13aLffMI/AAAAAAAALp0/Y9pFym980s0/s1600/love.png" alt="like button" height="40" width="40" ng-click = "voteForOption(dash.option[$index])">
       <h4 style="margin-left: 670px;
    margin-top: -30px;">{{dash.voting[$index]}}</h4>
       <!--         <div class="button" ng-click = "voteForOption(dash.option[$index])">-->

        </div>

      </div>
    </div>

    <script id="image-modal.html" type="text/ng-template">
      <div class="modal image-modal transparent" ng-click="closeModal()">
        <ion-pane class="transparent">
          <img ng-src="{{imageSrc}}" class="fullscreen-image"/>
        </ion-pane>
      </div>
    </script>
    
  </ion-pane>
</ion-view>