<!-- <ion-view ng-controller="groupController">
  
    <ion-content>
       <div>
        <form ng-submit="createGroup()">
        <label class="item item-input">
        <span class="input-label">Group Name :</span>
        <input type='text' name='group' ng-model='group.groupName' />
    
        <button  type="submit" class="button button-assertive">New Group</button>
        </form>
        </div>
        <a ng-repeat='group in data.groups' href='#/groups/{{group._id}}'
        class="button button button-outline button-full button-stable">
        {{group.groupName}}
        </a>
    </ion-content>

</ion-view> -->
<ion-view view-title="Groups" ng-controller="groupController">
    <ion-content >
        <div class="content has-header">
            <a href="#/app/profile" class="item item-avatar item-icon-right">
                <img src="http://1.bp.blogspot.com/-tpBEjvMjJww/T_8oAG0ciQI/AAAAAAAACl4/-YHi8W2Eaho/s1600/Let'sHangOut.jpg">
                <h2>Jon Snow</h2>
                <p>Da illest illegitimate</p>
                <i class="icon ion-ios-information"></i>
            </a>
            <a href="#/app/profile" class="item item-avatar item-icon-right">
                <img src="http://1.bp.blogspot.com/-tpBEjvMjJww/T_8oAG0ciQI/AAAAAAAACl4/-YHi8W2Eaho/s1600/Let'sHangOut.jpg">
                <h2>Jon Snow</h2>
                <p>Da illest illegitimate</p>
                <i class="icon ion-ios-information"></i>
            </a>
            <a href="#/app/profile" class="item item-avatar item-icon-right">
                <img src="http://1.bp.blogspot.com/-tpBEjvMjJww/T_8oAG0ciQI/AAAAAAAACl4/-YHi8W2Eaho/s1600/Let'sHangOut.jpg">
                <h2>Jon Snow</h2>
                <p>Da illest illegitimate</p>
                <i class="icon ion-ios-information"></i>
            </a>
            <a href="#/app/profile" class="item item-avatar item-icon-right">
                <img src="http://1.bp.blogspot.com/-tpBEjvMjJww/T_8oAG0ciQI/AAAAAAAACl4/-YHi8W2Eaho/s1600/Let'sHangOut.jpg">
                <h2>Jon Snow</h2>
                <p>Da illest illegitimate</p>
                <i class="icon ion-ios-information"></i>
            </a>
            <a href="#/app/profile" class="item item-avatar item-icon-right">
                <img src="http://1.bp.blogspot.com/-tpBEjvMjJww/T_8oAG0ciQI/AAAAAAAACl4/-YHi8W2Eaho/s1600/Let'sHangOut.jpg">
                <h2>Jon Snow</h2>
                <p>Da illest illegitimate</p>
                <i class="icon ion-ios-information"></i>
            </a>
            <a href="#/app/profile" class="item item-avatar item-icon-right">
                <img src="http://1.bp.blogspot.com/-tpBEjvMjJww/T_8oAG0ciQI/AAAAAAAACl4/-YHi8W2Eaho/s1600/Let'sHangOut.jpg">
                <h2>Jon Snow</h2>
                <p>Da illest illegitimate</p>
                <i class="icon ion-ios-information"></i>
            </a>
            <a href="#/app/profile" class="item item-avatar item-icon-right">
                <img src="http://1.bp.blogspot.com/-tpBEjvMjJww/T_8oAG0ciQI/AAAAAAAACl4/-YHi8W2Eaho/s1600/Let'sHangOut.jpg">
                <h2>Jon Snow</h2>
                <p>Da illest illegitimate</p>
                <i class="icon ion-ios-information"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
