<ion-view ng-controller="grouphomeController" >
<ion-nav-buttons side="right">
    <button class="button icon ion-gear-a button-clear" ng-click="showActionsheet()"></button>
</ion-nav-buttons>

    <ion-content>
       <!-- <button ng-click="facebookFriend()">Add Friend</button>
       <button ng-click="friends()">Show Friend</button>
       <button ng-click="deleteGroup()">Delete Group</button> -->
    <h1>Group HomePage</h1>
      <ion-list>
        <ion-item ng-repeat="dashboard in data">
         Dashboard: {{dashboard.date}}
        </ion-item>
       </ion-list>

        
    </ion-content>

</ion-view>
