<ion-view view-title="Lets Hangout" ng-controller="HomeController as vm">
	<ion-content class="padding">
	
		<div class="item card-item">
			<a ng-repeat= "group in data.groups" href="#/app/groups/{{group._id}}">
				<div class="card ink ink-dark">
					<div class="item row row-center item-avatar item-text-wrap">
						<span class="col avatar" style="background-image: url('http://1.bp.blogspot.com/-tpBEjvMjJww/T_8oAG0ciQI/AAAAAAAACl4/-YHi8W2Eaho/s1600/Let\'sHangOut.jpg');"></span>
						<!-- <div class="col"> -->
							<p style="font-size: 30px; color:#990000;" class=" col assertive-900">{{group.groupName}}</p>
						<!-- </div> -->
						<div class="col text-right assertive-900">
								<i class="icon ion-ios-people-outline" style=" font-size: 40px;"></i><span style="margin-left: 15px; font-size: 25px;">{{group.users.length}}</span>
						</div>
					</div>
				</div>
			</a>
		</div>
	</ion-content>
</ion-view>

