<ion-view view-title="Lets Hangout" ng-controller="HomeController">
	<ion-nav-buttons side="right">
		<button class="icon ion-plus-round headerIcons" ng-click="createGroup()"></button>
	</ion-nav-buttons>
	<ion-content class="padding">
		<div class="center" style="color:#F44336; font-size: 20px;" ng-if="showMsg"><p>Welcome</p></div>
		<div class="center" style="color:#F44336; font-size: 20px;" ng-if="showMsg"><p>Click on the + icon to create new Group</p></div>
		<div class="item card-item ">
			<a class="animated bounceInRight" ng-repeat= "group in data.groups" href="#/groups/{{group._id}}">
				<div class="card ink ink-dark">
					<div class="item row row-center item-avatar item-text-wrap">
						<span class="col avatar" style="background-image: url('https://i.imgur.com/4jwNZH5.png');"></span>
						<div>
							<p style="font-size: 20px; color: #F44336;" class=" col assertive-900">{{group.groupName}}</p>
						</div>
						<div class="col text-right assertive-900">
								<i class="icon ion-ios-people-outline" style=" font-size: 40px;"></i><span style="margin-left: 15px; font-size: 25px;">{{group.users.length}}</span>
						</div>
					</div>
				</div>
			</a>
		</div>
	</ion-content>
</ion-view>