<ion-view view-title="Lets Hangout" ng-controller="HomeController as vm">
  <ion-content class="padding">
	<div style="margin-top: 40%; text-align: center; color: red; font-size: 15px;" ng-if="vm.user.name">
		Welcome Back {{vm.user.name}}
	</div>

    <div class="content has-header">
        <a ng-repeat= "group in data.groups" href="#/app/groups/{{group_id}}" class="item item-avatar item-icon-right">
            <img src="http://1.bp.blogspot.com/-tpBEjvMjJww/T_8oAG0ciQI/AAAAAAAACl4/-YHi8W2Eaho/s1600/Let'sHangOut.jpg">
            <h2>{{group.groupName}}</h2>
            <i class="icon ion-ios-information"></i>
        </a>
    </div>
  </ion-content>
</ion-view>
