<ion-side-menus enable-menu-with-back-views="true" ng-controller="AppCtrl">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive-900" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
            <ion-nav-back-button class="button-clear"><i class="icon ion-arrow-back"></i> Back</ion-nav-back-button>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="right">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" ></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="right">
        <ion-header-bar class="bar-assertive-900"></ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item nav-clear menu-close ui-sref="app.dash">
                    dash
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.home">
                    home
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.group">
                    groups
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.login">
                    Login
                </ion-item>
                <ion-item nav-clear menu-close ng-click="logout()">
                    Logout
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.cards">
                    Cards
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
