<ion-view  ng-controller="messagesController">
<ion-nav-buttons side="right">
    	<a class="button icon ion-ios-list-outline button-clear" href="/#/dashBoard/{{dashboardId}}"></a>
  </ion-nav-buttons>
<ion-content has-bouncing="true" class="has-header has-footer"
              delegate-handle="userMessageScroll">

  <div ng-repeat="message in messages" class="message-wrapper"
                  on-hold="onMessageHold($event, $index, message)">

    <div ng-if="user.name !== message.user.name">

      <div>
        <img class="profile-pic left"
                          ng-src="{{message.userPic}}" onerror="onProfilePicError(this)" />
      </div>

      <div class="chat-bubble left">

        <div class="message" ng-bind-html="message.text"></div>

      </div>
    </div>

    <div ng-if="user.name === message.user.name">

      <div>
        <img class="profile-pic right"
                          ng-src="{{user.picture}}" onerror="onProfilePicError(this)" />
      </div>

      <div class="chat-bubble right">
        <div class="message" ng-bind-html="message.text"></div>
      </div>

    </div>

    <div class="cf"></div>

  </div>
    <form name="sendMessageForm" ng-submit="sendMessage(messageBox)" novalidate>
    <div class="item-input-inset message-footer " keyboard-attach>
      <label class="item-input-wrapper message-box">
        <textarea id="msgBox" ng-model="messageBox" class="message-box" value="" placeholder="Send a message..." required minlength="1" maxlength="1500" msd-elastic></textarea>
      </label>
      <div class="footer-btn-wrap">
        <button class="button button-clear footer-btn" type="submit"
        ng-disabled="!messageBox || messageBox === ''"><i class="assertive icon ion-android-send"></i></button>
      </div>
    </form>
  </div>
</ion-content>
</ion-view>
