/* Empty. Add your own CSS if you like */
.background-grey {
  background-color: #F7F7F7;
}

.td-title {
  position: absolute;
  top: 70px;
  width: 100%;
  text-align: center;
}

.td-title span {
  font-weight: bold;
}

td-cards {
  display: block;
}

td-card {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 300px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
  border-radius: 3px;
  background-color: transparent;
}

td-card img {
  max-width: 100%;
  border-radius: 4px;
}

.yes-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: #4CAF50;
  opacity: 0;
}

.no-text {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: #F44336;
  opacity: 0;
}

.discard {
  position: absolute;
  bottom: 20px;
  padding: 10px 15px;
  color: #FFF;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0 5px 5px 0;
}

td-card#end-card {
  background-color: none;
  box-shadow: none;
  border-radius: none;
}

#end-card i {
  position: absolute;
  top: calc(50% - 55px);
  left: calc(50% - 40px);
  font-size: 100px;
}


.fade {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  opacity: 0;
}

.td-image {
  width: 300px;
  height: 300px;
}

.center{
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}



.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}

a {
  text-decoration: none;
}

.headerIcons {
  border-color: transparent;
  background-color: transparent;
  color: white;
}

.popup-buttons .button {
  background-color: #F44336;
  color: white;
  font-size: 10px;
}

input[type=text] {
  border-color: #F44336;
  border-style: solid;
  border-width: 1px;
}

.bar.bar-header .button+.title{
  text-align: center;
}

.back-text{
  visibility: hidden;
}

.ion-ios-home,
.ion-log-in,
.ion-log-out{
  color:#F44336;
}

img{
  object-fit: cover;
}

.font-default{
  font-family: '-apple-system', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !important;
}

html, body, div, applet, object, iframe, h1, h2, h3,  blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, fieldset, figure, figcaption, footer, header, button, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
 font-family: 'gotham-medium';
}

h4, h5, h6, p {
  font-family: 'gotham-book';
}
span{
  font-family: 'gotham-light';
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
textarea.about-me{
  resize: none !important;
  min-height:100px;
  max-height:150px;
  font-size: 110%;
}

.img-circled{
  border-radius: 50%;
}

/* fixes an ios bug bear */
button.ion-android-send {
  padding-top: 2px;
}

/* add this to keep your footer buttons down 
at the bottom as the textarea resizes */
.footer-btn-wrap {
  position: relative; 
  height: 100%; 
  width: 50px; 
  top: 7px;
}

img.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
}

img.profile-pic.left {
  left: 10px;
}

img.profile-pic.right {
  right: 10px;
}

.ion-email {
  float: right;
  font-size: 32px;
  vertical-align: middle;
}

.message {
  font-size: 14px;
  font-family: '-apple-system', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !important;
}

.message-detail {
  white-space: nowrap;
  font-size: 14px;

}

.bar.item-input-inset .item-input-wrapper input {
  width: 100% !important;
}

.message-wrapper {
  position: relative;
}

.message-wrapper:last-child {
  margin-bottom: 10px;
}

.chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 6px 6px 6px 6px;
  position: relative;
  margin: 10px;
  max-width: 80%;
}

.chat-bubble:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px;
}

.chat-bubble.left {
  background-color: #e6e5eb;
  float: left;
  margin-left: 55px;
}

.chat-bubble.left:before {
  background-color: #e6e5eb;
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
  background-color: #F44336;
  color: #fff;
  float: right;
  margin-right: 55px;
}

.chat-bubble.right:before {
  background-color: #F44336;
  right: 10px;
  -webkit-transform: rotate(118deg) skew(-5deg);
}

.chat-bubble.right a.autolinker {
  color: #fff;
  font-weight: bold;
}

.user-messages-top-icon {
  font-size: 28px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
  right: 5px;
}

.msg-header-username {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
}

.message-box {
  background-color: white !important;
  max-height: 30px;
  width: 100%;
}


.cf {
  clear: both !important;
}

a.autolinker {
  color: #3b88c3;
  text-decoration: none;
}

.ionic_datepicker_popup .popup-buttons .button,
.ionic_datepicker_popup .selected_date,
.ionic_datepicker_popup .popup-body .selected_date_full{
  background-color:#F44336 !important;
  border-color: #F44336 !important;
  color: white !important;
}

.ionic_datepicker_popup .popup-body .month_select,
.ionic_datepicker_popup .popup-body .year_select{
  border-bottom: 1px solid #F44336 !important;
}

.ionic_datepicker_popup .popup-body .month_select:after,
.ionic_datepicker_popup .popup-body .year_select:after,
.ion-chevron-right, .ion-chevron-left{
  color: #F44336 !important;
}

.ionic_datepicker_popup .today{
  border-color: #F44336 !important;
}

.sendMessage{
  position: fixed !important;
  bottom: 20px !important;
}

.upvoteIcon{
  color: #F44336 !important;
}

.card,
.full-image{
  border: 1px solid #F44336;
}